@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(/img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
h1{
    font-size: 4rem;
    margin-top: -10rem;
    font-weight: normal;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.6rem;
}